html{
    font-family:"Lucida Sans", sans-serif;
}
*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	
}
body {
    background-image: url('sun.jpg');
    background-size: cover;
    background-position: top center;
	background-size:cover;
	background-repeat:no-repeat;
	max-width:100%;
	height:auto;
  }
.head{
    background-color#9AFE2E;
    background:#9AFE2E;
    padding:10px;
    text-align: center;
    color: white;
    text-shadow:2px 3px#848484;
    font-size:30px;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
  }
header input {
    margin-top:40px;
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #9AFE2E;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
    align:middle;
  }
  header input:focus{
    background-color: rgba(255, 255, 255, 0.6);
  }
  .disp{
     border: 3px solid;
     border-color:#9ecf68;
     border-style: rounded;
     border-radius: 5px;
     margin-bottom: 5px;
     margin-top:25px;
     margin-right:70px;
     margin-left:70px;
    box-shadow:1px 5px#BEF781 ;
  }   
  
  .location .city {
    color:#0B173B;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top:25px;
    margin-left:50px;
    text-shadow: 2px 4px #5882FA;
  }
  
  .location .date {
    color:#0B173B;
    font-size: 16px;
    margin-left:50px;
    margin-top:5px;
  }
  
  .current .temp {
    color:#0B173B;
    font-size: 50px;
    font-weight: 900;
    margin: 30px 0px;
    margin-left:50px;
    text-shadow: 2px 7px #5882FA;
  }
  
  .current .temp span {
    font-weight: 500;
    margin-left:50px;
  }
  
  .current .weather {
    color:#0B173B;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    margin-left:50px;
    text-shadow: 0px 4px#5882FA;
  }
  .current .humidity{
    color: #0B173B;
    font-size: 24px;
    font-weight: 500;
    margin-left:50px;
    text-shadow: 0px 4px #5882FA);
  }
  .current .hi-low {
    color: #0B173B;
    font-size: 24px;
    font-weight: 500;
    margin-left:50px;
    margin-bottom: 5px;
    text-shadow: 0px 4px #5882FA;
  }
  .logo{
    
  }
  
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }